<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg viewBox="0 0 483 78" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.416 23.72C3.784 23.208 5.864 22.632 7.656 21.992C9.448 21.352 11.08 20.552 12.552 19.592C14.088 18.632 15.528 17.448 16.872 16.04C18.28 14.632 19.784 12.904 21.384 10.856H31.272L28.488 23.72H35.976L34.728 30.152H27.144L23.208 48.872C22.888 50.344 22.632 51.656 22.44 52.808C22.248 53.96 22.152 54.856 22.152 55.496C22.152 56.776 22.6 57.576 23.496 57.896C24.456 58.216 26.216 58.376 28.776 58.376L27.336 65C26.888 65.128 26.184 65.224 25.224 65.288C24.328 65.352 23.304 65.416 22.152 65.48C21.064 65.608 19.912 65.672 18.696 65.672C17.544 65.736 16.52 65.768 15.624 65.768C14.024 65.768 12.456 65.64 10.92 65.384C9.384 65.192 8.008 64.776 6.792 64.136C5.576 63.432 4.584 62.44 3.816 61.16C3.112 59.88 2.76 58.152 2.76 55.976C2.76 55.208 2.792 54.248 2.856 53.096C2.984 51.944 3.208 50.664 3.528 49.256L7.56 30.152H0.0720001L1.416 23.72ZM70.4018 23.72H89.9858L81.1538 65H65.6018L63.8738 58.856H63.2978C61.6338 60.84 59.3618 62.504 56.4818 63.848C53.6658 65.128 50.8178 65.768 47.9378 65.768C44.0978 65.768 41.0898 64.808 38.9138 62.888C36.7378 60.904 35.6498 58.344 35.6498 55.208C35.6498 53.608 35.9058 51.624 36.4178 49.256C36.9938 46.824 37.5058 44.552 37.9538 42.44L41.9858 23.72H61.4738L56.6738 46.184C56.5458 46.696 56.4178 47.304 56.2898 48.008C56.1618 48.712 56.0338 49.416 55.9058 50.12C55.7778 50.76 55.6498 51.4 55.5218 52.04C55.4578 52.616 55.4258 53.096 55.4258 53.48C55.4258 54.44 55.6178 55.272 56.0018 55.976C56.4498 56.616 57.2178 56.936 58.3058 56.936C59.4578 56.936 60.5458 56.552 61.5698 55.784C62.5938 55.016 63.3938 54.28 63.9698 53.576L70.4018 23.72ZM98.526 23.72H114.174L115.614 30.92H116.286C117.758 28.616 119.646 26.664 121.95 25.064C124.254 23.464 127.294 22.664 131.07 22.664C131.326 22.664 131.71 22.696 132.222 22.76C132.798 22.76 133.406 22.856 134.046 23.048C134.75 23.176 135.454 23.4 136.158 23.72C136.926 23.976 137.662 24.36 138.366 24.872L134.142 44.648H123.678C123.55 40.68 123.198 37.928 122.622 36.392C122.046 34.792 121.118 33.992 119.838 33.992C119.198 33.992 118.494 34.152 117.726 34.472C117.022 34.728 116.286 35.336 115.518 36.296L109.374 65H89.79L98.526 23.72ZM151.748 65H136.196L149.828 0.487995H169.508L163.268 29.864H163.94C166.052 27.432 168.42 25.704 171.044 24.68C173.732 23.592 176.388 23.048 179.012 23.048C181.252 23.048 183.108 23.4 184.58 24.104C186.116 24.744 187.332 25.64 188.228 26.792C189.124 27.944 189.764 29.32 190.148 30.92C190.532 32.52 190.724 34.216 190.724 36.008C190.724 36.904 190.66 38.248 190.532 40.04C190.404 41.832 190.116 43.848 189.668 46.088C189.22 48.264 188.58 50.536 187.748 52.904C186.916 55.208 185.796 57.32 184.388 59.24C183.044 61.16 181.316 62.728 179.204 63.944C177.156 65.16 174.692 65.768 171.812 65.768C170.084 65.768 168.388 65.576 166.724 65.192C165.124 64.808 163.652 64.296 162.308 63.656C161.028 63.016 159.876 62.28 158.852 61.448C157.892 60.552 157.188 59.656 156.74 58.76H156.068L151.748 65ZM162.596 56.456C164.132 56.456 165.412 55.656 166.436 54.056C167.46 52.392 168.292 50.472 168.932 48.296C169.572 46.056 170.02 43.848 170.276 41.672C170.596 39.432 170.756 37.768 170.756 36.68C170.756 35.4 170.532 34.344 170.084 33.512C169.7 32.68 168.964 32.264 167.876 32.264C166.596 32.264 165.412 32.744 164.324 33.704C163.236 34.6 162.436 35.368 161.924 36.008L158.18 53.192C158.628 53.96 159.204 54.696 159.908 55.4C160.676 56.104 161.572 56.456 162.596 56.456ZM211.841 65H192.352L201.089 23.72H220.769L211.841 65ZM223.265 11.144C223.265 12.616 222.945 13.896 222.305 14.984C221.729 16.072 220.929 17 219.905 17.768C218.945 18.536 217.825 19.112 216.545 19.496C215.265 19.88 213.953 20.072 212.609 20.072C210.049 20.072 207.905 19.464 206.177 18.248C204.449 17.032 203.585 15.112 203.585 12.488C203.585 11.08 203.873 9.832 204.449 8.744C205.025 7.592 205.793 6.664 206.753 5.96C207.777 5.192 208.929 4.616 210.209 4.232C211.553 3.848 212.929 3.65599 214.337 3.65599C216.833 3.65599 218.945 4.264 220.673 5.48C222.401 6.696 223.265 8.584 223.265 11.144ZM247.166 29.864C248.51 28.584 250.014 27.4 251.678 26.312C253.15 25.416 254.878 24.584 256.862 23.816C258.846 23.048 261.054 22.664 263.486 22.664C266.814 22.664 269.566 23.528 271.742 25.256C273.918 26.92 275.006 29.224 275.006 32.168C275.006 33 274.91 34.024 274.718 35.24C274.526 36.392 274.302 37.608 274.046 38.888C273.79 40.168 273.502 41.48 273.182 42.824C272.926 44.104 272.702 45.256 272.51 46.28L268.478 65H248.99L254.27 39.944C254.398 39.112 254.558 38.28 254.75 37.448C254.942 36.552 255.038 35.752 255.038 35.048C255.038 34.088 254.782 33.32 254.27 32.744C253.822 32.104 253.118 31.784 252.158 31.784C251.006 31.784 249.886 32.2 248.798 33.032C247.774 33.864 246.974 34.568 246.398 35.144L240.062 65H220.477L229.214 23.72H244.862L246.59 29.864H247.166ZM284.6 27.272C287.864 25.672 291.192 24.52 294.584 23.816C298.04 23.048 301.88 22.664 306.104 22.664C310.2 22.664 313.592 22.984 316.28 23.624C318.968 24.264 321.112 25.192 322.712 26.408C324.312 27.624 325.432 29.064 326.072 30.728C326.712 32.392 327.031 34.28 327.031 36.392C327.031 37.608 326.936 38.92 326.744 40.328C326.616 41.736 326.456 42.92 326.264 43.88L321.752 65H306.296L304.568 58.856H303.992C301.944 61.096 299.544 62.824 296.792 64.04C294.104 65.192 291.416 65.768 288.728 65.768C287.192 65.768 285.688 65.544 284.216 65.096C282.744 64.648 281.432 63.976 280.28 63.08C279.128 62.12 278.2 60.936 277.495 59.528C276.791 58.056 276.439 56.296 276.439 54.248C276.439 50.92 277.336 48.296 279.128 46.376C280.984 44.392 283.384 42.92 286.328 41.96C289.336 40.936 292.696 40.296 296.408 40.04C300.184 39.784 303.96 39.656 307.736 39.656C307.864 39.016 308.024 38.12 308.216 36.968C308.408 35.752 308.504 34.696 308.504 33.8C308.504 32.648 308.184 31.592 307.544 30.632C306.968 29.608 305.72 29.096 303.8 29.096C301.56 29.096 299.896 29.768 298.808 31.112C297.784 32.392 297.112 33.96 296.792 35.816H282.776L284.6 27.272ZM306.68 44.168H304.952C303.096 44.168 301.496 44.424 300.152 44.936C298.872 45.384 297.816 45.992 296.984 46.76C296.216 47.528 295.64 48.392 295.256 49.352C294.872 50.312 294.68 51.272 294.68 52.232C294.68 53.768 295.064 54.92 295.832 55.688C296.664 56.456 297.624 56.84 298.712 56.84C300.056 56.84 301.368 56.36 302.648 55.4C303.992 54.44 304.824 53.16 305.144 51.56L306.68 44.168Z"
        fill="#0000ff"></path>
    </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Turbina</span>
            <span class="font-bold">STAVANGER</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Vote 4 Trump</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://www.instagram.com/turbina_stv"
                class="hover:text-secondary/80 text-secondary"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                  <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z" fill="#0000ff"></path>
                </svg>
                </a
              >
            </li><li>
              <a
                href="mailto:turbina@stv.no"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16"
                  width="16"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See you fucking there</span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Music and shit</span
        >
      </div>
    </div>
  </div>
</section>
