---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        TURBINA STV is a dynamic event collective based in Stavanger, Norway, dedicated to curating a vibrant mix of music festivals and artistic performances. Known for its eclectic and inclusive approach, TURBINA STV brings together a diverse array of talents and genres, creating a unique cultural experience that resonates with both locals and visitors.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        At the heart of TURBINA STV's offerings are its music festivals, which feature an impressive lineup of local and international artists. These festivals are not just about music; they are immersive experiences that celebrate the intersection of sound, art, and community. From underground beats to classical melodies, TURBINA STV ensures that there is something for every music lover.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        In addition to music, TURBINA STV is renowned for its commitment to the broader arts scene. The collective organizes a variety of artistic events, including drag queen shows, which have become a staple of their programming. These performances are celebrated for their creativity, boldness, and the way they challenge and expand the boundaries of traditional art forms. By providing a platform for drag artists, TURBINA STV fosters a space of acceptance and celebration of diversity.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        With a mission to enrich Stavanger's cultural landscape, TURBINA STV continues to push the envelope, offering innovative and engaging events that bring people together. Their dedication to quality and inclusivity ensures that every event is not just a show, but a celebration of art in all its forms. Join TURBINA STV and be part of a community that thrives on creativity, diversity, and the transformative power of the arts.
      </p>
    </div>
  </div>

</section>
